
    <div class="ui blue inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted grid">
          <div class="two column">
            <div class="column">
              <%
                var year = new Date().getFullYear();
              %>
              <h4 class="ui inverted header">&copy; STB Group <%= year %>. Todos los derechos reservados.</h4>
              <!-- <div class="middle aligned content"> -->


              <!-- </div> -->
            </div>
            <div class="column">
              <a target="_blank" href="https://www.facebook.com/stbcomputer">
                <i class="inverted facebook icon"></i>
              </a>
              <a target="_blank" href="https://twitter.com/stb_group">
                <i class="inverted twitter icon"></i>
              </a>
              <a target="_blank" href="https://www.linkedin.com/company/stb-group">
                <i class="inverted linkedin icon"></i>
              </a>
            </div>
          </div>

        </div>
        <!-- <div class="ui stackable inverted grid">
          <p><br/>&copy; STB Group 2016. Todos los derechos reservados.<br/></p>
        </div> -->
      </div>
    </div>
  </body>
