<!DOCTYPE html>
<html>
	<head>
		<title>STB Group - Unidad Microsoft &amp; Outsourcing</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css"></link>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"></link>
	</head>
  <body>

    <div class="ui attached stackable menu">
      <div class="ui container">
        <div class="middle aligned content">
          <br/><img src="/images/logo.png" alt="STB Group - Unidad Microsoft & Outsourcing">
        </div>
        <div class="middle aligned content">
          <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a target="_blank" href="https://www.facebook.com/stbcomputer">
            <i class="large grey facebook icon"></i>
          </a>
          <a target="_blank" href="https://twitter.com/stb_group">
            <i class="large grey twitter icon"></i>
          </a>
          <a target="_blank" href="https://www.linkedin.com/company/stb-group">
            <i class="large grey linkedin icon"></i>
          </a>
        </div>
        <div class="right item">
          <a class="item" href="/index">
            INICIO
          </a>
          <a class="item" href="/company">
            COMPA&Ntilde;&Iacute;A
          </a>
          <div class="ui simple dropdown item">
            <a href="/services" style="color: black; pointer: cursor;">SERVICIOS</a>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/services/ourOffer">Nuestra oferta de Outsourcing</a>
              <a class="item" href="/services/techMethNorm">Tecnologías, Metodologías, Normativas</a>
            </div>
          </div>
          <a class="item" href="/contactUs">
            CONTACTENOS
          </a>
        </div>
      </div>
    </div>
